.env
**/*.log
**/*.log.*
**/__pycache__
**/.DS_Store

1-data/0-tmp/
1-data/2-external/
1-data/2-osm/**/*.osm.pbf
1-data/2-gtfs/out/
1-data/2-gtfs/src/
1-data/2-popmasks/
1-data/2-gh/config-duttv2.yml
1-data/2-gh/lockfile.json
1-data/2-gh/graph-cache/
1-data/2-gh/calibrate-cache/
1-data/2-gh/example/
1-data/2-gh/logs/
1-data/3-traveltime-cache/
1-data/3-traveltime-cities/

0-misc/
