.env

1-data/0-tmp/**/*.*

1-data/2-external/**/*.*
1-data/2-external/*.*

1-data/2-gh/osm/
1-data/2-gh/gtfs/**/*.zip
1-data/2-gh/graph-cache/
1-data/2-gh/logs/

1-data/3-interim/bing_cache.db
1-data/3-interim/graphhopper.db

graphhopper/
**/.DS_Store
4-misc/
**/__pycache__