*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFCF2;
}

a{
  text-decoration: none;;
  color: #EC6A37;
}

a.white{
  color: #fff;
}